{% extends '../sub_base.html' %}
{% block title %}Account Email Sent{% endblock title %}

{% block style %}
<style>
    .t11 {
        background-color: rgb(0, 255, 213);
    }
</style>
{% endblock style %}
    
{% block content %}

<div class="container t11" style="max-width: 1000px">
    <div class="col-12 pt-2">
      <h1 class="h2">Account email sent</h1>
    </div>
    <hr />
</div>
        
<div class="alert alert-info rounded-0 border-2 py-2" style="text-align:center" role="alert">Check your email to activate your account</div>

{% endblock content %}